@keyframes fadeOut {
    from {
        opacity: 1;
        height: auto;
        padding: auto;
    }
    to {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

.online {
    color: rgba(0, 160, 0, 0.8);
}

.offline {
    color: rgb(185, 185, 185);
}

.inactive {
    color: rgba(255, 170, 14, 0.77);
}


/*.-autocomplete-container {
    max-width: 450px;
}*/

li.-autocomplete-item .autocomplete-username {
    color: rgba(82, 82, 82, 0.86);
}

li.-autocomplete-item.selected .autocomplete-username {
    color: #EDEDED;
}

li.-autocomplete-item .autocomplete-emoji-alias {
    color: rgba(82, 82, 82, 0.86);
}

li.-autocomplete-item.selected .autocomplete-emoji-alias {
    color: #EDEDED;
}

li.-autocomplete-item .autocomplete-profilename {
    margin-left: 10px;
    font-style: italic;
    display: inline;
    color: #A6A6A6;
    font-weight: light;
}

li.-autocomplete-item.selected .autocomplete-profilename {
    color: #A9A9A9;
}

li.-autocomplete-item.selected .online {
    color: rgb(103, 240, 103);
}

li.-autocomplete-item.selected .inactive {
    color: #FFDE28;
}

li.-autocomplete-item.selected .offline {
    color: rgb(224, 224, 224);
}

li.-autocomplete-item.selected .user-image {
    border: solid 1px #EDEDED;
}

img.emoji {
    font-size: inherit;
    height: 2.7ex;
    width: auto;
    min-width: 15px;
    min-height: 15px;
    display: inline-block;
    margin: -0.4ex .15em 0;
    line-height: normal;
    vertical-align: middle;
}
