@keyframes fadeOut {
    from {
        opacity: 1;
        height: auto;
        padding: auto;
    }
    to {
        opacity: 0;
        height: 0;
        padding: 0;
    }
}

.fadeOut {
    animation-name: fadeOut;
}

.online {
    color: rgba(0, 160, 0, 0.8);
}

.offline{
    color: rgb(185, 185, 185);
}

.inactive{
    color: rgba(255, 170, 14, 0.77);
}
