<template name="chatRoom">
    <div class="container">
        <div class="row " style="padding-top:40px;">
            <div class="col-md-8">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color: #5e5e5e;">
                        RECENT CHAT HISTORY
                    </div>
                    {{> messagesPanel}}
                    <div class="panel-footer">
                        <div class="input-group">
                            <input id="message" type="text" class="form-control" placeholder="Enter Message" />
                            <span class="input-group-btn">
                                <button class="btn btn-info send-button" type="button">SEND</button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading" style="color: #5e5e5e;">
                        USERS LIST
                    </div>
                    <div class="panel-body" style="max-height: 520px;overflow: auto;">
                        {{> usersList}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
