<template name="messages">
    {{!-- <div class="hidden messages-container"> --}}
    {{#each messages}}
        {{> message}}
    {{/each}}
    {{!-- </div> --}}
</template>
<template name="message">
    {{#transition in="fadeInDown" out="fadeOut" }}
        <li class="media animated out message" id="{{_id}}">
            <div class="media-body">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object img-circle " style="max-height:50px;" src="{{authorImage}}" />
                    </a>
                    <div class="media-body message-body">
                        <span class="message-text" style="color: rgb(82, 82, 82);">
                                {{#emoji}}
                                    {{#autolink}}
                                        {{body}}
                                    {{/autolink}}
                                {{/emoji}}
                        </span>
                        {{#if image}}
                            <div style="height: 200px;">
                                <a href='{{image}}' target='_blank'>
                                    <img class='img-rounded message-image' src='{{image}}' style='
                                         display: block;
                                         margin-top: 13px; 
                                         max-height: 200px;
                                         max-width: 400px;
                                         border: solid 1px rgba(128, 128, 128, 0.3);
                                         border-radius: 7px;'>
                                </a>
                            </div>
                        {{/if}}
                        <br />
                        <small class="text-muted">{{author}} | {{createdAtFormatted}}</small>
                        <hr />
                    </div>
                </div>
            </div>
        </li>
    {{/transition}}
</template>
