<template name="messagesPanel">
    <div class="panel-body messages-panel messages-scroll-panel" style="overflow-y: auto;height: 450px;">
        {{#if Template.subscriptionsReady}}
            <ul class="media-list">
                {{> messages}}
            </ul>
        {{else}}
            {{> spinner}}
        {{/if}}
    </div>
    {{#transition in="fadeIn" out="fadeOut" }}
        <div class="alert alert-info text-center notification-panel hidden" role="alert" style="margin-bottom: 0px;border-radius: 0;cursor:pointer;"><span id="unread-messages"></span></div>
    {{/transition}}
</template>
